{% extends 'basec.html' %}

{% block title %}
Detalles del Producto
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-8">
        <br>

        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="400px" height="auto"
            style="border: 2px solid #000000; margin: 10px;">



        <br><br>
        <p class="descripcion">
            <span class="detalle">{{ producto.nombre }}</span> <br>
            <span class="detalle">Precio: {{ producto.precio }}</span><br>
            <span class="detalle">Categoria: {{ producto.categoria }}</span><br>
            <span class="detalle">Descripcion: {{ producto.descripcion }}</span> <br>
            <span class="detalle"></span>
        </p>
        <br>
        <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Agregar al Carrito</a>
            {% csrf_token %}
        </form>
    </div>
    <div class="col-sm-12 col-md-2">
    </div>
</div>
{% endblock %}